.caption{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    padding-top: 0.6em;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  
  .caption .albumTitle{
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .caption .albumAuthor{
    color: lightgrey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .item{
    max-width: 25%;
    flex-basis: 25%;
    padding:0 !important;
  }
  
  .thumbnail{
    padding:1em;
  }
  