
.albumsCont .item:nth-child(even) {
    background-color: rgb(242, 243, 244);
    padding: 1em;
  }
  
  .albumsCont .item:nth-child(odd) {
    background-color: rgb(249, 251, 252);
    padding: 1em;
  }
  
  .grid-group-wrapper {
    display: flex;
    flex-wrap: wrap;
    }
  
  .grid-group-wrapper:after,
  .grid-group-wrapper:before {
    display: flex;
  }
  
  .grid-group-wrapper > [class*="col-"] {
    display: flex;
    flex-direction: column;
  }
  .grid-group-wrapper .thumbnail,
  .grid-group-wrapper .caption {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
  }
  .grid-group-wrapper .caption-text {
    flex-grow: 1;
  }
  .grid-group-wrapper img {
    width: 100%;
    height: auto;
  }
  
  .grid-group-wrapper .price-buy-spacing {
    display: flex;
    justify-content: space-between;
  }
  .grid-group-wrapper .price-buy-spacing .lead {
    margin-bottom: 0px;
  }
  .grid-group-wrapper .price-buy-spacing {
    margin-bottom: 10px;
  }
  
  .list-group-wrapper .item {
    float: none;
    width: 100%;
    max-width: 100%;
    }
  .list-group-wrapper .item:before,
  .list-group-wrapper .item:after {
    display: table;
    content: " ";
  }
  .list-group-wrapper .item:after {
    clear: both;
  }
  .list-group-wrapper .item .thumbnail img {
    margin-right: 10px;
    float: left;
  }
  .list-group-wrapper .item .caption,
  .list-group-wrapper .item .thumbnail {
    display: flex;
  }
  .list-group-wrapper .item .caption {
    flex-direction: column;
    text-align: left;
    align-self: center;
  }
  .list-group-wrapper .item .caption-text {
    flex-grow: 1;
  }
  
  .list-group-wrapper > [class*="col-"] {
    flex-basis: 100%;
    max-width: 100%;
  }