header{
    color: rgba(0, 0, 0, 0.87);
    background-color: #f5f5f5;
    min-height: 64px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  
    .head_title{
      padding: 0 20px;
      display: flex;
      position: relative;
      min-height: 64px;
      align-items: center;
  
      h2{
        font-size: 1.3125rem;
        font-weight: 500;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        line-height: 1.16667em;
      }
    }
  }