.paginator{
    display:flex;
    align-self:center;
    justify-content: flex-end;
  
    .totalPagesCont{
      width: 10%;
      align-self:center;
    }
    
    .paginatorButonsCont{
      width:10%;
    }
}

.paginatorCont{
    justify-content: flex-end;
  }
  
  .paginatorCont .paginatorButonsCont, .paginatorCont .totalPagesCont{
    text-align: right;
    padding: 1.5em 0 1.5em 0;
    min-width: 165px;
  }