.search-container{
    background-color: white;
    margin: 15px 0 0 0;
    border: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
  
    .mixInput{
      display: inline-flex;
      max-height: 2em;
      align-items: center;
    }
  
    .mixInput:before{
      left: 0;
      color: transparent;
      right: 0;
      bottom: 0;
      content: "need text here to prevent subpixel zoom issue";
      position: absolute;
      transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      border-bottom: 1px solid rgba(0, 0, 0, 0.42);
      pointer-events: none;
    }
  
    .mixInput:hover:before{
      border-bottom: 2px solid rgba(0, 0, 0, 0.87);
    }
  
    .fa-search{
      margin-right: 8px;
    }
  
    #searchInput{
      font: inherit;
      color: currentColor;
      border: 0;
      margin: 0;
      padding: 6px 0 7px;
      display: block;
      min-width: 0;
      flex-grow: 1;
      box-sizing: content-box;
      background: none;
      -webkit-tap-highlight-color: transparent;
    }
    input:focus{
      outline: none;
    }
  }