@import "reset";
@import "switch";
@import "header";
@import "albumList";
@import "paginator";
@import "search";
@import "album";

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$second-color: white;

body {
  font: 100% $font-stack;
  background-color: $second-color;
}

.hidden{
  display:none;
}

.container-980{
  margin-left: auto;
  margin-right: auto;
  padding-right: 8px;
  padding-left: 8px;
  max-width: 1200px;
}

.paginator-container{
  padding: 1.5em 0;
}




