    <div class="thumbnail clearfix">
        <img src={{artwork}} onerror='this.style.display = "none"' alt="artwork" />
        <div class="caption">
            <p class='albumTitle'>{{album}}</p>
            <p class='albumAuthor'>{{author}}</p>
        </div>
    </div>