<div class="header-container">

</div>
<div class="container-980">
    <div class="search-container">

    </div>
    <div class="switch-container">

    </div>
    <div class="paginator-container">

    </div>
    <div class="list-container">

    </div>
</div>