<div class="totalPagesCont">
    <span class="totalPages">
        Page <span class='actual'>{{actual}}</span> of <span class='last'>{{last}}</span>
    </span>
</div>
<div class="paginatorButonsCont">
    <button class="prev">&lt;</button>
    <button class="next">&gt;</button>
</div>